@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: linear-gradient(to right top, #000000, #1e1e1e, #373737, #515151, #6d6d6d);
    height: 155vh;
    width: 100%;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: large;
}

.social-icons{
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
  }
  
  .social-icons a{
    color: #000000;
    font-size: 28px;
  }
  
  .social-icons a:hover{
    color: #6161;
  }

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #000;
    background: #fff;
}

@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

@media screen and (max-width: 360px) {

    .persona {
        display: flex;

    }

    .persona img {
        padding-bottom: 25px;
    }


}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.tab .nav-tabs {
    border-bottom: 2px solid #e8e8e8;
}

.tab .nav-tabs li a {
    display: block;
    padding: 10px 20px;
    margin: 0 5px 1px 0;
    font-size: 20px;
    font-weight: 700;
    color: #112529;
    text-align: center;
    border: none;
    border-radius: 0;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    color: #198df8;
    border: none;
}

.tab .nav-tabs li.active a:before {
    content: '\21E9';  
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
    font-weight: 700;
    color: #198df8;
    margin: 0 auto;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
}

.tab .nav-tabs li.active a:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #198df8;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

.tab .tab-content {
    padding: 30px 20px 20px;
    margin-top: 0;
    background: #fff;
    font-size: 15px;
    color: #7a9181;
    line-height: 30px;
    border-radius: 0 0 5px 5px;
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }

    .tab .nav-tabs li.active a:before {
        content: "\f105";
        bottom: 15%;
        left: 0;
        right: auto;
    }
}